* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
    box-sizing: border-box;
}
.fondo::-webkit-input-placeholder {
    background-color: white; 
    border-radius:5px;
    width: 80%;
}

#background {
    background-color: #00393F;
}

header{
    background-color: #028E9B;
    width: 80%;
    margin: 0.5em auto;
    border-radius: 30px;
    padding: 1em;
    text-align: center;
}

nav {
    width: 90%;
    margin: 1em auto;
} 

nav ul {
    display: flex;
    justify-content: space-between;
}

.appointButton {
    background-color: #FFC140;
    padding: 0.7em;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline;
}
.botonesCuadro{
    display: flex;
    justify-content: space-around;
}
.appointButton:hover{
    background-color: orangered;
    color: papayawhip;
    text-decoration: none;
}

.appoint:link {
    text-decoration: none;
}

.appoint:visited {
    background-color: orangered;
    color: papayawhip;
    text-decoration: none;
}

.appoint:active {
    background-color: orangered;
    color: papayawhip;
    text-decoration: none;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.cardStyle {
    max-width: 30%;
    margin:0.3em;
    background-color: #37b4c2;
    border: solid black;
    border-radius: 30px;
    padding: 1em;
    flex-grow: 1;
}

#cardStyleEdit {
    width: 70%;
    margin:0.3em;
    background-color: #37b4c2;
    border: solid black;
    border-radius: 30px;
    padding: 1em;
    flex-grow: 1;
}

#cardStyleCreate {
    width: 70%;
    margin:0.3em;
    background-color: #37b4c2;
    border: solid black;
    border-radius: 30px;
    padding: 1em;
    flex-grow: 1;
}


.card-text {
    font-size: 2vw;
}
.card-subtitle {
    font-size: 2vw;
}

.card-title {
    font-size: 2.5vw;
}

.buttonGroup{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cancel {
    color: #A60800;
}

.edit {
    background-color:#FFC140;
    border-radius: 15px;
    padding: 0.05em;
}

.send {
    color:#009612;
}

.icono {
    font-size: 1.5em;
    color:#FFC140;
}
.trash{
    color: red;
}

.linkCancel:link {
    text-decoration: none;
    color: white;
}
.linkCancel:visited {
    text-decoration: none;
    color: white;
}

.titlePlace {
    font-size: 3vw;
    width: 100%;
}

.namePlace{
    font-size: 3.7vw;
    width: 100%;
}

#styleTitle{
    color:white;
    text-align: center;
}